[build]
{{- if or (eq .chezmoi.os "darwin") .archlike }}
rustflags = ["-C", "target-cpu=native"]
{{- else if eq .chezmoi.arch "amd64" }}
rustflags = ["-C", "target-cpu=x86-64-v2"]
{{- else if eq .chezmoi.arch "arm64" }}
# Graviton2+ / Ampere baseline
rustflags = ["-C", "target-cpu=neoverse-n1"]
{{- end }}
