# configuration file for betterlockscreen

insidecolor={{ .colors.background }}00
ringcolor=eaeaeaff
keyhlcolor=fb4934ff
bshlcolor=fb4934ff
separatorcolor={{ .colors.background }}00
insidevercolor={{ .colors.background }}00
insidewrongcolor=fb4934ff
ringvercolor={{ .colors.bright.yellow }}ff
ringwrongcolor={{ .colors.normal.red }}ff
verifcolor={{ .colors.bright.green }}ff
timecolor=eaeaeaff
datecolor={{ .colors.bright.yellow }}ff
loginbox={{ .colors.normal.blue }}66
