XDG_DESKTOP_DIR="{{ .chezmoi.homeDir }}/"
XDG_DOCUMENTS_DIR="{{ .chezmoi.homeDir }}"
XDG_DOWNLOAD_DIR="{{ .chezmoi.homeDir }}/downloads/"
XDG_MUSIC_DIR="{{ .chezmoi.homeDir }}"
XDG_PICTURES_DIR="{{ .chezmoi.homeDir }}/images/"
XDG_VIDEOS_DIR="{{ .chezmoi.homeDir }}"