{{- $archlike := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $archlike = or (eq (get .chezmoi.osRelease "id") "arch") (contains "arch" (get .chezmoi.osRelease "idLike")) -}}
{{- end -}}
{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "email" -}}
{{- end -}}
[merge]
command = "meld"

[data]
email = {{ $email | quote }}
archlike = {{ $archlike }}
helix = {{ if $archlike }}"helix"{{ else }}"hx"{{ end }}

[data.theme]
noctalia = true

[data.theme.fallback]
ghostty = "Kanagawa Wave"
doom = "kanagawa-wave"
helix = "kanagawa"
btop = "kanagawa-wave"
bat = "Kanagawa"
zellij = "kanagawa"
gtk = "adw-gtk3-dark"

[data.theme.fallback.zed]
dark = "Kanagawa Wave"
light = "Kanagawa Lotus"

[data.theme.fallback.niri]
active = "#7E9CD8"
inactive = "#363646"
urgent = "#E82424"
