{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "email" -}}
{{- end -}}
[merge]
args = "-d"
command = "nvim"
pager = "delta"

[data]
email = {{ $email | quote }}

[data.font]
name = "Iosevka Nerd Font"
name_bold = "Iosevka Nerd Font"
size = 13

[data.font.mono]
name = "Iosevka Nerd Font"
name_bold = "Iosevka Nerd Font"
size = 13

# Gruvbox Medium Dark
[data.colors]
background = "282828"
cursor = "ebdbb2"
foreground = "ebdbb2"
text = "a89984"

[data.colors.normal]
black = "282828"
blue = "458588"
cyan = "689d6a"
green = "98971a"
magenta = "b16286"
red = "cc241d"
white = "a89984"
yellow = "d79921"

[data.colors.bright]
black = "928374"
blue = "83a598"
cyan = "8ec07c"
green = "b8bb26"
magenta = "d3869b"
red = "fb4934"
white = "ebdbb2"

yellow = "fabd2f"
[data.colors.index]
one_six = "ffffff"
one_seven = "ffffff"

# Catppuccin
# [data.colors]
# background = "1E1D2F"
# foreground = "D9E0EE"
# cursor = "F5E0DC"
# text = "1E1D2F"

# [data.colors.normal]
# black = "6E6C7E"
# blue = "96CDFB"
# cyan = "89DCEB"
# green = "ABE9B3"
# magenta = "F5C2E7"
# red = "F28FAD"
# white = "D9E0EE"
# yellow = "FAE3B0"

# [data.colors.bright]
# black = "988BA2"
# blue = "96CDFB"
# cyan = "89DCEB"
# green = "ABE9B3"
# magenta = "F5C2E7"
# red = "F28FAD"
# white = "D9E0EE"
# yellow = "FAE3B0"

# [data.colors.index]
# one_six = "F8BD96"
# one_seven = "F5E0DC"

[data.monitors]
center = "DisplayPort-0"
left = "DP3"
right = "DVI-I-0"
