## NEW UTILS
alias find="fd"
alias sed="sd"
alias htop="btm"
alias top="btm"
alias diff="difft"
alias colordiff="difft"
alias ls="exa --icons"
alias vi="nvim"
alias vim="nvim"
alias less="bat --decorations=never"
alias cat="bat --paging=never"
alias df="duf"
alias http="xh"
alias hexdump="xd"
alias hd="xd"
alias jq="jql"
alias ping="gping"

## ALTER EXISTING
alias rg="rg --smart-case"
alias grep="grep --ignore-case --color=auto"
alias mkdir="mkdir -pv"
alias mv="mv -v"
alias cp="cp -v"
alias figlet="figlet -f isometric3"
# scp is deprecated
alias scp="rsync --progress --archive --verbose --compress --human-readable"
alias sudo="sudo "
alias sk="sk --color dark,fg:#{{ .colors.foreground }},bg:#{{ .colors.background }},matched:#{{ .colors.foreground }},matched_bg:#{{ .colors.normal.blue }},current:#{{ .colors.foreground }},current_bg:#{{ .colors.normal.green }},current_match:#{{ .colors.background }},current_match_bg:#{{ .colors.normal.yellow }},border:#{{ .colors.normal.green }},prompt:#fb4934,cursor:#{{ .colors.background }},selected:#{{ .colors.bright.yellow }},spinner:#{{ .colors.bright.yellow }},header:#{{ .colors.normal.blue }}"
alias netstat="ss --tcp --udp --listening --processes --numeric" # -tulpn
alias ss="ss --tcp --udp --listening --processes --numeric"

## SHORTEN EXISTING
alias j="just"
alias p="pueue"
alias sysd="sudo systemctl"
alias usysd="systemctl --user"
alias ht="hunter"
alias les="bat --decorations=never"

## CUSTOM COMMANDS
alias .j="just --justfile {{ .chezmoi.homeDir }}/.justfile --working-directory {{ .chezmoi.homeDir }}"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias rcp="rsync --progress --size-only --inplace --verbose --human-readable"
alias untar="tar --extract --verbose --file"
alias la="exa --all --all --icons --sort=modified"
alias ll='exa --all --long --header --icons --sort=modified'
alias lla='exa --all -all --long --header --group --icons --sort=modified'
alias lt='exa --tree --level=15 --icons'
alias llt='exa --tree --all --long --level=15 --icons'
alias edit="nvim"
alias clean-branches='git branch | grep -ve "master\$" | xargs git branch -D'
alias svi="sudo nvim -u {{ .chezmoi.homeDir }}/.config/nvim/init.lua"
alias svim="sudo nvim -u {{ .chezmoi.homeDir }}/.config/nvim/init.lua"
