StylesPath = {{ .chezmoi.homeDir }}/.config/vale/styles

Vocab = Technical

MinAlertLevel = suggestion

Packages = Microsoft, proselint, write-good, alex, Readability

[*]
BasedOnStyles = Vale, Microsoft, proselint, write-good, alex, Readability
