#!/usr/bin/env zsh

{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.osRelease.name | contains "Arch Linux") }}
 yay_executable=$(which yay)
 if [ ! -x "$yay_executable" ] ; then
  sudo pacman -Sy
  sudo pacman -S base-devel
  sudo pacman -S git

  cd /tmp
  git clone https://aur.archlinux.org/yay.git
  cd yay
  makepkg -si
 fi


# udpate db and install packages
yay -Syu --needed \
  vim \
  sudo \
  unrar \
  unzip \
  duf \
  restic \
  reflector \
  snapraid \
  tmux \
  tar \
  rsync \
  reflector \
  mergerfs \
  fzf \
  htop \
  grc \
  fish \
  docker \
  docker-compose \
  curl \
  cloudflared-bin \
  neovim \
  aws-cli-v2-bin \
  deno

# clean unused dependencies
yay -c
{{  else if (.chezmoi.osRelease.name | contains "Debian") }}
sudo apt update
sudo apt -y upgrade
sudo apt -y install \
  curl \
  build-essential \
  pkg-config \
  libssl-dev \
  neovim \
  vim \
  git \
  htop \
  grc \
  fish \
  tar \
  rsync \
  fzf \
  python3-pip \
  awscli
pip3 install pynvim
{{   end }}
{{ else if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "fish"
brew "awscli"
brew "figlet"
brew "fzf"
brew "duf"
brew "git"
brew "grc"
brew "htop"
brew "jq"
brew "neofetch"
brew "neovim"
brew "restic"
brew "rsync"
brew "tmux"
brew "unison"
cask "alacritty"
cask "finicky"
cask "flux"
cask "busycal"
cask "font-iosevka"
cask "font-iosevka-nerd-font"
cask "font-iosevka-slab"
cask "hiddenbar"
cask "plexamp"
cask "stats"
cask "visual-studio-code"
cask "deno"
EOF
{{ end -}}

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain none

declare -a rust_utils=(
"exa"
"bat"
"xh"
"mcfly"
"cargo-update"
"fd-find"
"git-delta"
"just"
"ripgrep"
"skim"
"starship"
"tealdeer"
"topgrade"
"zoxide"
"sd"
"bottom"
"procs"
"dua"
"du-dust"
)

for var in ${rust_utils[@]}
do
  cargo install $var
done

curl -o- --tlsv1.2 https://raw.githubusercontent.com/Shougo/dein.vim/master/bin/installer.sh | sh -s -- {{ .chezmoi.homeDir }}/.cache/dein

curl -o- --tlsv1.2 https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash
