#!/usr/bin/env zsh

{{ if eq .chezmoi.os "darwin" -}}
rtx install node@lts
rtx use -g node@lts
rtx install python@3.11
rtx use -g python@3.11
rtx exec -c 'pip install --upgrade pip' python@3.11
rtx plugin add poetry
{{ end }}
