#!/usr/bin/env zsh

{{ if eq .chezmoi.os "darwin" -}}
mise install node@lts
mise use -g node@lts
mise install python@3.11
mise use -g python@3.11
mise exec -c 'pip install --upgrade pip' python@3.11
mise plugin add poetry
{{ end }}
