{
  "project_panel": {
    "dock": "left"
  },
  "outline_panel": {
    "dock": "left"
  },
  "collaboration_panel": {
    "dock": "left"
  },
  "agent": {
    "dock": "right",
    "favorite_models": [],
    "model_parameters": []
  },
  "git_panel": {
    "dock": "left"
  },
  "ui_font_family": "Berkeley Mono Variable",
  "buffer_font_family": "Berkeley Mono Variable",
  "base_keymap": "JetBrains",
  "ui_font_size": 15.0,
  "buffer_font_size": 14.0,
  "buffer_font_features": {
    "calt": false,
  },
  "autosave": "on_focus_change",
{{- if and .theme.noctalia (lookPath "noctalia") }}
  "theme": {
    "mode": "system",
    "light": "Noctalia Light",
    "dark": "Noctalia Dark",
  },
{{- else }}
  "theme": {
    "mode": "system",
    "light": "{{ .theme.fallback.zed.light }}",
    "dark": "{{ .theme.fallback.zed.dark }}",
  },
  "auto_install_extensions": { "kanagawa-themes": true },
{{- end }}
}
