#       ___                         ___           ___           ___
#      /  /\                       /  /\         /  /\         /  /\        ___           ___         ___         ___
#     /  /::\                     /  /::\       /  /:/        /  /::\      /  /\         /  /\       /  /\       /__/|
#    /  /:/\:\    ___     ___    /  /:/\:\     /  /:/        /  /:/\:\    /  /:/        /  /:/      /  /:/      |  |:|
#   /  /:/~/::\  /__/\   /  /\  /  /:/~/::\   /  /:/  ___   /  /:/~/:/   /__/::\       /  /:/      /  /:/       |  |:|
#  /__/:/ /:/\:\ \  \:\ /  /:/ /__/:/ /:/\:\ /__/:/  /  /\ /__/:/ /:/___ \__\/\:\__   /  /::\     /  /::\     __|__|:|
#  \  \:\/:/__\/  \  \:\  /:/  \  \:\/:/__\/ \  \:\ /  /:/ \  \:\/:::::/    \  \:\/\ /__/:/\:\   /__/:/\:\   /__/::::\
#   \  \::/        \  \:\/:/    \  \::/       \  \:\  /:/   \  \::/~~~~      \__\::/ \__\/  \:\  \__\/  \:\     ~\~~\:\
#    \  \:\         \  \::/      \  \:\        \  \:\/:/     \  \:\          /__/:/       \  \:\      \  \:\      \  \:\
#     \  \:\         \__\/        \  \:\        \  \::/       \  \:\         \__\/         \__\/       \__\/       \__\/
#      \__\/                       \__\/         \__\/         \__\/

env:
  TERM: xterm-256color

window:
  dimensions:
    columns: 200
    lines: 50
  padding:
    x: 4
    y: 4
  dynamic_padding: true
{{- if eq .chezmoi.os "darwin" }}
  decorations: full
  startup_mode: Windowed
{{- else if eq .chezmoi.os "linux" }}
  decorations: none
  startup_mode: Maximized
{{- end }}
  dynamic_title: true
  opacity: 1.0

scrolling:
  history: 10000
  multiplier: 3

font:
  size: {{ .font.mono.size }}

  normal:
    family: {{ .font.mono.name }}
    style: Regular

  bold:
    family: {{ .font.mono.name_bold }}
    style: Bold

  italic:
    family: {{ .font.mono.name }}
    style: Italic

  bold_italic:
    family: {{ .font.mono.name_bold }}
    style: Bold Italic

  use_thin_strokes: true

draw_bold_text_with_bright_colors: true

colors:
  primary:
    background: '0x{{ .colors.background }}'
    foreground: '0x{{ .colors.foreground }}'

  cursor:
    text: '0x{{ .colors.text }}'
    cursor: '0x{{ .colors.cursor }}'

  normal:
    black:   '0x{{ .colors.normal.black }}'
    red:     '0x{{ .colors.normal.red }}'
    green:   '0x{{ .colors.normal.green }}'
    yellow:  '0x{{ .colors.normal.yellow }}'
    blue:    '0x{{ .colors.normal.blue }}'
    magenta: '0x{{ .colors.normal.magenta }}'
    cyan:    '0x{{ .colors.normal.cyan }}'
    white:   '0x{{ .colors.normal.white }}'

  bright:
    black:   '0x{{ .colors.bright.black }}'
    red:     '0x{{ .colors.bright.red }}'
    green:   '0x{{ .colors.bright.green }}'
    yellow:  '0x{{ .colors.bright.yellow }}'
    blue:    '0x{{ .colors.bright.blue }}'
    magenta: '0x{{ .colors.bright.magenta }}'
    cyan:    '0x{{ .colors.bright.cyan }}'
    white:   '0x{{ .colors.bright.white }}'

  indexed_colors:
    - { index: 16, color: '0x{{ .colors.index.one_six }}' }
    - { index: 17, color: '0x{{ .colors.index.one_seven }}' }

  vi_mode_cursor:
    text: '0x{{ .colors.text }}'
    cursor: '0x{{ .colors.cursor }}'

  selection:
    text: '0x{{ .colors.background }}'
    background: '0x{{ .colors.text }}'

  search:
    matches:
      foreground: '0x{{ .colors.foreground }}'
      background: '0x{{ .colors.bright.magenta }}'
    focused_match:
      foreground: '0x{{ .colors.foreground }}'
      background: '0x{{ .colors.normal.blue }}'
    bar:
     background: '0x{{ .colors.bright.black }}'
     foreground: '0x{{ .colors.bright.yellow }}'

  hints:
    start:
      foreground: '0x{{ .colors.background }}'
      background: '0x{{ .colors.bright.red }}'
    end:
      foreground: '0x{{ .colors.background }}'
      background: '0x{{ .colors.bright.green }}'

bell:
  animation: EaseOutExpo
  duration: 1
  color: '0x{{ .colors.cursor }}'

mouse_bindings:
  - { mouse: Middle, action: PasteSelection }

mouse:
  double_click:
    threshold: 300

  triple_click:
    threshold: 300
    
  hide_when_typing: false

hints:
  enabled:
    - regex: "(mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)\
              [^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
{{- if eq .chezmoi.os "darwin" }}
      command: open
{{- else if eq .chezmoi.os "linux" }}
      command: xdg-open
{{- end }}
      post_processing: true
      mouse:
        enabled: true
        mods: None
      binding:
        key: U
        mods: Control|Shift

selection:
  save_to_clipboard: true

cursor:
  style: Block
  unfocused_hollow: true

live_config_reload: true
