[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'morhetz/gruvbox'

[[plugins]]
repo = 'hoob3rt/lualine.nvim'
hook_add = '''
lua <<EOF
require'lualine'.setup {
    options = {
        theme = 'gruvbox',
        section_separators = '',
        component_separators = ''
    }
}
EOF
'''

[[plugins]]
repo = 'roxma/vim-hug-neovim-rpc'
on_if = '!has("nvim")'

[[plugins]]
repo = 'roxma/nvim-yarp'
on_if = '!has("nvim")'
