#       ___                     ___           ___     
#      /  /\      ___          /  /\         /__/\    
#     /  /:/_    /  /\        /  /:/_        \  \:\   
#    /  /:/ /\  /  /:/       /  /:/ /\        \__\:\  
#   /  /:/ /:/ /__/::\      /  /:/ /::\   ___ /  /::\ 
#  /__/:/ /:/  \__\/\:\__  /__/:/ /:/\:\ /__/\  /:/\:\
#  \  \:\/:/      \  \:\/\ \  \:\/:/~/:/ \  \:\/:/__\/
#   \  \::/        \__\::/  \  \::/ /:/   \  \::/     
#    \  \:\        /__/:/    \__\/ /:/     \  \:\     
#     \  \:\       \__\/       /__/:/       \  \:\    
#      \__\/                   \__\/         \__\/    

# TODO: check if path exists
# TODO: install dein if it doesnt exist and call installer
# install cargo and crates?
set PATH {{ .chezmoi.homeDir }}/.dotfiles/source $PATH
set PATH {{ .chezmoi.homeDir }}/.local/bin $PATH
set PATH {{ .chezmoi.homeDir }}/.cargo/bin $PATH
set PATH {{ .chezmoi.homeDir }}/.toolbox/bin $PATH

# Override fish colors
set fish_color_normal white
set fish_color_quote bryellow
set fish_color_autosuggestion brblack
set fish_color_command brwhite
set fish_color_comment yellow
set fish_color_end brwhite
set fish_color_error brred
set fish_color_cancel brred
set fish_color_operator green
set fish_color_param cyan
set fish_color_escape red
set fish_color_redirection magenta
set fish_color_cwd magenta
set fish_pager_color_progress brwhite --background=blue
set fish_pager_color_completion blue
set fish_pager_color_description yellow
set fish_color_match brwhite --background=brmagenta
set fish_color_history_current brgreen

# Colored man pages
set -g man_blink -o red
set -g man_bold -o green
set -g man_standout red
set -g man_underline -u yellow

set -Ux EDITOR nvim
set -Ux AWS_EC2_METADATA_DISABLED 1
set -Ux XDG_DATA_DIRS "/usr/local/share:/usr/share"
set -Ux XDG_DATA_HOME "{{ .chezmoi.homeDir }}/.local/share"
set -Ux XDG_CONFIG_HOME "{{ .chezmoi.homeDir }}/.config"
set -Ux JUST_CHOOSER 'sk'
set -Ux SKIM_DEFAULT_COMMAND 'fd --type f || git ls-tree -r --name-only HEAD || rg --files || find .'
set -Ux FZF_DEFAULT_COMMAND 'rg --files --no-ignore --hidden --follow -g "!{.git,node_modules,*.swp,dist}/*" 2> /dev/null'
set -Ux FZF_CTRL_T_COMMAND "$FZF_DEFAULT_COMMAND"
set -Ux BYOBU_PREFIX /usr/local
set -Ux HOMEBREW_NO_ANALYTICS 1

{{ if eq .chezmoi.os "darwin" -}}
# jhome -v 1.8    #switches to java 1.8
# jhome -v 11    #switches to java 11
function jhome
    set JAVA_HOME (/usr/libexec/java_home $argv)
    echo "JAVA_HOME:" $JAVA_HOME
    echo "java -version:"
    java -version
end

# Add GRC: https://github.com/garabik/grc
source /usr/local/etc/grc.fish

# why do i have to set this?!
set -Ux LANG en_US.UTF-8  
set -Ux LC_COLLATE en_US.UTF-8
set -Ux LC_CTYPE en_US.UTF-8
set -Ux LC_MESSAGES en_US.UTF-8
set -Ux LC_MONETARY en_US.UTF-8
set -Ux LC_NUMERIC en_US.UTF-8
set -Ux LC_TIME en_US.UTF-8
set -Ux LC_ALL en_US.UTF-8

# macos doesnt like sourcing this alias
alias ls="exa --icons"
{{ else if eq .chezmoi.os "linux" -}}
set -Ux SXHKD_SHELL /bin/bash
set -Ux JAVA_HOME /usr/lib/jvm/java-8-openjdk

# Add GRC: https://github.com/garabik/grc
source /etc/grc.fish
{{ end -}}

set -Ux PYENV_ROOT {{ .chezmoi.homeDir }}/.pyenv
set -U fish_user_paths $PYENV_ROOT/bin $fish_user_paths

if test -x (which pyenv)
    pyenv init --path | source
    pyenv init - | source
    pyenv virtualenv-init - | source
end

test -x (which aws_completer); and complete --command aws --no-files --arguments '(begin; set --local --export COMP_SHELL fish; set --local --export COMP_LINE (commandline); aws_completer | sed \'s/ $//\'; end)'

if not functions -q fisher
    curl https://git.io/fisher --create-dirs -sLo $XDG_CONFIG_HOME/fish/functions/fisher.fish
    fish -c fisher
end

source ~/.alias

if test -e ~/.internal-alias
    source ~/.internal-alias
end

test -x (which starship); and starship init fish | source
test -x (which zoxide); and zoxide init fish | source
