#       ___                     ___           ___     
#      /  /\      ___          /  /\         /__/\    
#     /  /:/_    /  /\        /  /:/_        \  \:\   
#    /  /:/ /\  /  /:/       /  /:/ /\        \__\:\  
#   /  /:/ /:/ /__/::\      /  /:/ /::\   ___ /  /::\ 
#  /__/:/ /:/  \__\/\:\__  /__/:/ /:/\:\ /__/\  /:/\:\
#  \  \:\/:/      \  \:\/\ \  \:\/:/~/:/ \  \:\/:/__\/
#   \  \::/        \__\::/  \  \::/ /:/   \  \::/     
#    \  \:\        /__/:/    \__\/ /:/     \  \:\     
#     \  \:\       \__\/       /__/:/       \  \:\    
#      \__\/                   \__\/         \__\/    

fish_add_path -P {{ .chezmoi.homeDir }}/.local/bin
fish_add_path -P {{ .chezmoi.homeDir }}/.cargo/bin
fish_add_path -P {{ .chezmoi.homeDir }}/.toolbox/bin

# Override fish colors
set fish_color_normal white
set fish_color_quote bryellow
set fish_color_autosuggestion brblack
set fish_color_command brwhite
set fish_color_comment yellow
set fish_color_end brwhite
set fish_color_error brred
set fish_color_cancel brred
set fish_color_operator green
set fish_color_param cyan
set fish_color_escape red
set fish_color_redirection magenta
set fish_color_cwd magenta
set fish_pager_color_progress brwhite --background=blue
set fish_pager_color_completion blue
set fish_pager_color_description yellow
set fish_color_match brwhite --background=brmagenta
set fish_color_history_current brgreen

set -gx EDITOR nvim
set -gx AWS_EC2_METADATA_DISABLED 1
set -gx XDG_DATA_DIRS "/usr/local/share:/usr/share"
set -gx XDG_DATA_HOME "{{ .chezmoi.homeDir }}/.local/share"
set -gx XDG_CONFIG_HOME "{{ .chezmoi.homeDir }}/.config"
set -gx JUST_CHOOSER 'sk'
set -gx SKIM_DEFAULT_COMMAND 'fd --type f || git ls-tree -r --name-only HEAD || rg --files || find .'
set -gx FZF_DEFAULT_COMMAND 'rg --files --no-ignore --hidden --follow -g "!{.git,node_modules,*.swp,dist}/*" 2> /dev/null'
set -gx FZF_CTRL_T_COMMAND "$FZF_DEFAULT_COMMAND"
set -gx HOMEBREW_NO_ANALYTICS 1
set -gx EXA_ICON_SPACING 2
set -gx PAGER 'less --quit-if-one-screen --chop-long-lines'
set -gx BAT_THEME 'Everforest Dark'
set -gx MANPAGER "sh -c 'col -bx | bat -l man -p'"

{{ if eq .chezmoi.os "darwin" -}}
# Add GRC: https://github.com/garabik/grc
set -l grc /usr/local/etc/grc.fish

# why do i have to set this?!
set -gx LANG en_US.UTF-8  
set -gx LC_COLLATE en_US.UTF-8
set -gx LC_CTYPE en_US.UTF-8
set -gx LC_MESSAGES en_US.UTF-8
set -gx LC_MONETARY en_US.UTF-8
set -gx LC_NUMERIC en_US.UTF-8
set -gx LC_TIME en_US.UTF-8
set -gx LC_ALL en_US.UTF-8

# macos doesnt like sourcing this alias
alias ls="eza --icons"
{{ else if eq .chezmoi.os "linux" -}}
set -gx SXHKD_SHELL /bin/bash

# Add GRC: https://github.com/garabik/grc
set -l grc /etc/grc.fish
{{ end -}}

test -x (which aws_completer); and complete --command aws --no-files --arguments '(begin; set --local --export COMP_SHELL fish; set --local --export COMP_LINE (commandline); aws_completer | sed \'s/ $//\'; end)'

if not functions -q fisher
    curl https://git.io/fisher --create-dirs -sLo $XDG_CONFIG_HOME/fish/functions/fisher.fish
    fish -c fisher
end

if test -e $grc
    source $grc
end

source ~/.alias

if test -e ~/.internal-alias
    source ~/.internal-alias
end

test -x (which starship); and starship init fish | source
test -x (which zoxide); and zoxide init fish | source
test -x (which stg); and stg completion fish | source

if test -x (which rtx)
    rtx activate fish | source
    rtx completion fish | source
end